<h1> Image Blur #2 </h1>
  <h3></h3>

 

<div class="box">
  <h4>original</h4>
 <p> 
      <%= Image.blur   %>
      <br />
      <%= Image.output_image.output_image.join    %>
  </p>
</div>



<br class="clear" />