// Place all the styles related to the imageblurs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  margin: 0;
  font-family: 'Hepta Slab', serif;
}   
h1{
  color: #CDDEED;
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 0;
} 

h2{
  color:  #C0DAF0;
  font-size: 18px;
  margin-top: 0;
}
h3 {
    text-align: center;
    font-size: 28px;
    font-weight: normal;
    margin-top: 100px;
}

h4 {
    text-align: center;
    font-size: 24px;
}
li {
  display: inline-block;
  font-size: 12px;
  width: 100px;
  font-weight: bold;
  margin-top: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  margin-left: 30px;
}
.nav-link {
  color: white;
  text-decoration: none;
}
.bio {
  color: white; 
  font-size: 14px;
}

.me{
  height: 150px;
  border-radius: 100%; 
  border-style: solid;
  border-color: white;
  margin-top: 40px;

}

.about{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.gray{
  height: 3px;
  background-color: #93999E;
  border: none;
  width:50px;
}
.yellow{  
  border-top: 3px double #8c8b8b;
  width: 250px;
    border-bottom: none;
  border-right: none;
}

.about-container{
background: url('bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;  
  background-size:  cover;
  height: 600px;
}

.box {
    float: left;
    width: 42.5%;
    margin-left: 5%;
    margin-top: 80px;
}

.clear {
  clear: both;
}
.full-width {
  width: 100%;
}

.skills-and-tools{  
  max-width: 400px; 
 margin: 40px auto;
}  

.icons {  text-align: center;   margin: 30px 0;}

.contact-me {
  height: 350px;
  background-color: #202020;
  padding-top: 30px;
}

.contact-headline {
  color: white;

}

.contact-info{  
  color: white;
  font-size: 13px;
  margin-top: 30px;
}
.contact-link {
  color: white; 
    font-weight: bold;
  font-size: 13px;  
}

.hire-me {
  border-style: solid;
}
